<% var categories; %>

<div class="container">
    <div class="row">
        <% if(categories && categories.length){%>
        <% categories.map(cat=>{ %>
        <% if(cat.movies && cat.movies.length){ %>
        <div class="panel panel-default" style="margin-right: 10px;">
            <div class="panel-heading">
                <h3>
                    <a href="<%= '/results?cat=' + cat._id + '&p=0' %>"><%= cat.name %></a>
                </h3>
            </div>
            <div class="panel-body">
                <% cat.movies.map(item=>{%>
                <div class="thumbnail">
                    <a href="<%= '/admin/movie/detail/' + item._id%>">
                        <% if(item.poster.indexOf('http')!==-1){ %>
                        <img src="<%= item.poster %>" alt="<%= item.title %>" width="220" height="312">
                        <% }else{ %>
                        <img src="<%= '/upload/' + item.poster %>" alt="<%= item.title %>" width="220">
                        <% } %>
                    </a>
                    <div class="caption">
                        <h4 class="movie-name"><%= item.title %></h4>
                    </div>
                </div>
                <%}) %>
            </div>
        </div>
        <%}%>
        <% }) %>
        <%}%>
    </div>
</div>

<style>
.panel{
    width: 100%;
}
.panel-body{
    font-size: 0;
}
.movie-name{
    padding-left: 12px;
    font-size: 16px;
    margin: 0;
    line-height: 36px;
}
.thumbnail{
    display: inline-block;
    border:1px solid #eee;
    margin-bottom: 20px;
    margin-right: 20px;
}
</style>