<% var categories; %>

<div class="container">
    <div class="row">
        <% if(categories && categories.length){%>
        <% categories.map(cat=>{ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a href="<%= '/result?cat=' + cat._id + '&p=0' %>"><%= cat.name %></a>
                </h3>
            </div>
            <div class="panel-body">
                <% if(cat.movies && cat.movies.length){ %>
                <% cat.movies.map(item=>{%>
                <div class="col-md-3">
                    <div class="thumbnail" style="height: 475px;">
                        <a href="<%= '/movie/detail' + item._id%>">
                            <% if(item.poster.indexOf('http')!==-1){ %>
                            <img src="<%= item.poster %>" alt="<%= item.title %>" width="220">
                            <% }else{ %>
                            <img src="<%= '/upload/' + item.poster %>" alt="<%= item.title %>" width="220">
                            <% } %>
                        </a>
                        <div class="caption">
                            <h4><%= item.title %></h4>
                            <p>
                                <a class="btn" href="<%= '/admin/movie/detail/' + item._id %>">查看详情</a>
                            </p>
                        </div>
                    </div>
                </div>
                <%}) %>
                <%}%>
            </div>
        </div>
        <% }) %>
                <%}%>
    </div>
</div>